/*!! this is just in the dev mode , you can use next/font for the production mode */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
    font-family: 'Almarai', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 1px;
}
 
*::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.507);
      border-radius: 10px ;

}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
  border-radius: 10px ;
    
  scrollbar-width: 1px;
  scrollbar-color: #e3e3e3 transparent;
}